<div class="container p-4">
    <h4>Editar Delegado</h4>
    <button type="button" class="btn btn-secondary"><a style="text-decoration: none; color: white;" href="/delegados/registrar"><i
                class="fas fa-undo"></i> Cancelar Edición</a></button>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/delegados/edit/{{delegados.id}}" method="POST">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" name="nombres" placeholder="Nombre" autofocus
                                required value="{{delegados.nombres}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" name="ape_pat" placeholder="Apellido Paterno"
                                required value="{{delegados.ape_pat}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" name="ape_mat" placeholder="Apellido Materno"
                                required value="{{delegados.ape_mat}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="email" class="form-control" name="usuario" placeholder="Correo" required
                                value="{{delegados.usuario}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" name="comunidad" placeholder="Comunidad" required
                                value="{{delegados.comunidad}}">
                        </div>
                        <div class="form-group mb-3">
                            <!--<select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option>Sección</option>
                                {{#each secc_del}}
                                <option value="1">{{seccion}}</option>
                                {{else}}
                                <option value=""></option>
                                {{/each}}
                            </select>-->
                            <input type="text" class="form-control" name="seccion" placeholder="Sección" required
                                value="{{delegados.seccion}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" id="pw1" onchange="activarConfirmacion()" class="form-control" name="password" placeholder="Contraseña"
                                value="">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" id="pw2" onchange="verificarPasswords()" class="form-control ocultar" name="pw" placeholder="Confirmar Contraseña"
                                value="">
                        </div>
                        <div class="d-grid gap-2">
                            <button id="login" class="btn btn-success">
                                Guardar Cambios
                            </button>
                        </div>
                    </form>

                    <div id="msg" class="container m-2"></div>

                    <!-- Mensajes de Verificación -->
                    <div id="error" class="alert alert-danger ocultar" role="alert">
                        Las Contraseñas no coinciden, vuelve a intentar !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ocultar {
        display: none;
    }

    .mostrar {
        display: block;
    }
</style>
<script>
    function verificarPasswords() {

        // Ontenemos los valores de los campos de contraseñas 
        pass1 = document.getElementById('pw1');
        pass2 = document.getElementById('pw2');

        // Verificamos si las constraseñas no coinciden 
        if (pass1.value != pass2.value) {

             
            document.getElementById("error").classList.add("mostrar");
            

            return false;
        } else {
            
            document.getElementById("login").classList.remove("ocultar");
            
            document.getElementById("error").classList.remove("mostrar");
             
            document.getElementById("login").classList.add("mostrar"); 
            return true;
        }

    }

    function activarConfirmacion() {
        document.getElementById("pw2").classList.remove("ocultar");
        document.getElementById("pw2").classList.add("mostrar");
        document.getElementById("login").classList.add("ocultar");
    }
</script>