<div class="container p-4">
    <div class="row">
        <h3>Secciones de {{muni2}}</h3>
        <div class="col-md-12  table-wrapper-scroll-y my-custom-scrollbar" style="height: 60vh;">
                    
            <table id="example" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sección</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Casillas</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each secciones}}
                    <tr>
                        <td>{{seccion}} </td>
                        <td>{{nombre}} </td>
                        <td><a href="/mpios/seccion/casilla-r/{{id}}" style="text-decoration: none;"><i
                                    class="fas fa-calendar-week"></i> Ver Casillas</a></td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td><a href="" style="text-decoration: none;"><i class="fas fa-calendar-week"></i> Ver Lista
                                Nominal</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <style>
            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .table-wrapper-scroll-y {
                display: block;
            }
        </style>